html {
    height: 100%
}

body {
    background: #fbfbfb;
    background-attachment: fixed;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    min-height: 100%
}

.title {
    color: #4384f5;
    margin: 0 0 10px
}

.title--h1 {
    font-size: 29px;
    font-weight: 400;
    margin-top: 20px
}

.title--h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px
}

.paragraph {
    color: #757575;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 3px
}

.header {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    text-align: center
}

.header__menu {
    left: 20px;
    position: absolute;
    top: 20px;
    width: 18px
}

.header__account {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 28px
}

.header__logo {
    height: 65px;
    border-radius: 30px;
    margin-top: 8px
}

.content {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 720px;
    padding: 5px 20px
}

.prize-picker {
    display: inline-flex;
    margin: 20px auto
}

.prize-picker__image {
    margin: 0 auto;
    max-width: 200px;
    width: 100%
}

.prize-picker__image--placeholder {
    -webkit-animation: chest 1s infinite;
    animation: chest 1s infinite;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    transform-origin: bottom
}

.prize-picker__option {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    display: block;
    flex-basis: 100% !important;
    overflow: hidden;
    padding: 10px
}

.prize-picker__option:first-of-type {
    margin-left: 0 !important
}

.prize-picker__option:last-of-type {
    margin-right: 0 !important
}

.prize-picker__option:nth-of-type(2) .prize-picker__button {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.prize-picker__option:nth-of-type(3) .prize-picker__button {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.prize-picker__button {
    -webkit-animation: quickWobble 2s infinite;
    animation: quickWobble 2s infinite;
    border-bottom: 3px solid rgba(0, 0, 0, .3) !important;
    border-radius: 5px !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .21);
    font-weight: 700
}

.prize {
    text-align: center
}

.prize__image {
    max-height: 200px
}

.prize__name {
    margin-bottom: 20px
}

.prize__button, .prize__name {
    font-size: 16px;
    font-weight: 700
}

.prize__button {
    background: #1a73e8;
    border-bottom: 3px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .21);
    color: #fff;
    display: inline-block;
    height: 48px;
    letter-spacing: .5px;
    line-height: 48px;
    margin-top: 15px;
    padding: 0 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap
}

.testimonials {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    color: #1a73e8;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px
}

.testimonials__title {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    margin: 0 0 10px
}

.loader {
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0
}

.loader__dual-ring {
    display: inline-block;
    height: 80px;
    width: 80px
}

.loader__dual-ring:after {
    -webkit-animation: loader-dual-ring 1.2s linear infinite;
    animation: loader-dual-ring 1.2s linear infinite;
    border-color: #ff2110 #ffbb08 #1a73e8 #31c552;
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    content: "";
    display: block;
    height: 32px;
    margin: 8px;
    width: 32px
}

@-webkit-keyframes loader-dual-ring {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes loader-dual-ring {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes quickWobble {
    0%, 89% {
        transform: scale(1)
    }
    90% {
        transform: scale(1.04)
    }
    to {
        transform: scale(1)
    }
}

@keyframes quickWobble {
    0%, 89% {
        transform: scale(1)
    }
    90% {
        transform: scale(1.04)
    }
    to {
        transform: scale(1)
    }
}

@-webkit-keyframes chest {
    0% {
        transform: scaleY(1) scaleX(1)
    }
    50% {
        transform: scaleY(1.05) scaleX(.97)
    }
    to {
        transform: scaleY(1) scaleX(1)
    }
}

@keyframes chest {
    0% {
        transform: scaleY(1) scaleX(1)
    }
    50% {
        transform: scaleY(1.05) scaleX(.97)
    }
    to {
        transform: scaleY(1) scaleX(1)
    }
}

@media (max-width: 640px) {
    .content {
        padding: 0 10px
    }

    .title--h1 {
        font-size: 24px
    }

    .prize-picker {
        flex-direction: row !important;
        margin: 10px 0 0
    }

    .paragraph {
        font-size: 13px;
        line-height: 18px
    }

    .prize-picker__option {
        margin: 10px 5px !important;
        padding: 6px !important
    }

    .prize-picker__button {
        font-size: 11px !important;
        height: 33px;
        line-height: 33px;
        overflow: hidden;
        padding: 0 4px !important;
        text-overflow: ellipsis
    }

    .testimonials {
        margin-top: 10px
    }

    .prize__button {
        margin-bottom: 20px
    }
}

.theme--amazon .header {
    background-color: #131921;
    color: #fff;
    padding: 15px
}

.theme--amazon .header__logo {
    height: 25px
}

.theme--amazon .prize-picker__button, .theme--amazon .prize__button {
    background: linear-gradient(180deg, #fbd773, #fbd978 40%, #fbcf56 41%, #fac228) !important;
    border: 1px solid #e6a402 !important;
    border-radius: 3px !important;
    color: #000 !important;
    text-shadow: 0 1px 0 #ffe093 !important
}

.theme--apple {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif
}

.theme--apple .header {
    background-color: #3a3a3a;
    padding: 5px
}

.theme--apple .header__logo {
    height: 25px;
    margin: 0 auto
}

.theme--apple .prize-picker__button, .theme--apple .prize__button {
    border: none !important;
    border-radius: 25px !important;
    height: auto !important;
    line-height: inherit !important;
    padding: 10px !important
}

.theme--mcdonalds {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif
}

.theme--mcdonalds .header {
    border-bottom: 0;
    box-shadow: 0 0 9px rgba(0, 0, 0, .1)
}

.theme--mcdonalds .prize-picker__button, .theme--mcdonalds .prize__button {
    background-color: #ffbc0d !important;
    border: none !important;
    color: #000 !important
}

/*# sourceMappingURL=app.css.map*/